#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center .name {
    margin-left: 10px;
}
.flex-center .score {
    margin-right: 10px;
}
.grey-background {
    background-color: #535252;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
.fit-content {
    max-width: fit-content;
}
.flex {
    display: flex;
    align-items: center;
}

.maze-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    background-color: grey;
}

.row {
    display: flex;
}

.cell {
    width: 25px;
    height: 25px;
}

.wall {
    color: transparent;
}

/* .path {
    background-color: #008000;
} */

.win-cell {
    animation: wiggle 1.5s infinite;
    /* background-image: url('./path.png');
    background-size: 25px; */
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(25deg);
    }
    95% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.player {
    line-height: 0px;
    background-image: url('./path.png');
    background-size: 25px;
}

.modal {
    position: fixed;
    max-width: 200px;
    max-height: 100px;
    margin-left: -130px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    background-color: cadetblue;
    padding: 30px;
}

.modal :first-child {
    margin-top: 0px;
}
